.wrapperLibrary{
    padding: 130px 40px;


    .TitlePage{
        word-spacing: 5px;
        display: flex;
        align-items: center;
        color: #fff;
        h1{
            margin: 0 ;
            font-size: 32px;
        }

        
    .backMainPage{
a{
    color: #fff;
    text-decoration: none;
    span{
    margin: 0 10px;
    }
}
        margin-left: 20px;
        font-size: 32px;
        .arrowBack{
            transform: rotate(180deg);
        }
        
    }

    }

}